apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: lordfreakin/chat_backend:01
          ports:
            - containerPort: 5000
          envFrom:
            - secretRef:
                name: backend-secret
